@font-face {
	font-family: "ceym";
	src: url("//testingcf.jsdelivr.net/gh/ghboke/corepresscdn@master/static/lib/font/ceym/ceym.woff2") format("woff2");
}
a {
    font-size: 4rem;
	color: #0000AA;
	text-decoration:none;
}

body{
	font-family:ceym;
	background:url(bg.svg) no-repeat center fixed;
	background-size:cover;
	text-align:center;
	font-size:8rem;
	color:#000000;
}
html{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}
